﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/content/css/mycss.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>(028) 3456789 </a>
                <a> - (028) 3456789</a>
                <button>Lien he quang cao</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Dang Nhap</button>
                <button>Dang Ky</button>

                <input placeholder="Tim kiem..." />
            </div>
        </div>
    </div>

    <div class="logo-bar">
        <div class="container-picture">
            <div class="logo">
                <img src="~/content/image/Logo_Vnexpress.png" />
            </div>
            <div class="ads1">
                <img src="~/content/image/banner-ads-1.png" />
            </div>
            <div class="ads2">
                <img src="~/content/image/banner-ads-2.png" />
            </div>
        </div>
    </div>
    <main>@RenderBody()</main>
</body>
</html>
